<div class="paginator">
	<ul class="pagination">
		<?= $this->Paginator->first('<< ' . __('primero')) ?>
		<?= $this->Paginator->prev('< ' . __('anterior')) ?>
		<?= $this->Paginator->numbers() ?>
		<?= $this->Paginator->next(__('siguiente') . ' >') ?>
		<?= $this->Paginator->last(__('último') . ' >>') ?>
	</ul>
	<p><?= $this->Paginator->counter(['format' => __('Página {{page}} de {{pages}}, mostrando {{current}} registro(s) por página, de un total de {{count}}')]) ?></p>
</div>