<div class="employees form columns content">
	<?= $this->Form->create()?>
	<fieldset>
		<legend><?= __('Inicio de sesión') ?></legend>
		<?php
			echo $this->Form->control('email');
			echo $this->Form->control('password');
		?>
	</fieldset>
	<?= $this->Form->button(__('Ingresar')) ?>
	<?= $this->Form->end() ?>
</div>